<div class="container card">
  <div class="card-body">
    <h5 class="card-title">memory-leaks</h5>
    <button
      *ngFor="let comp of components"
      class="btn btn-outline-primary"
      [ngClass]="{active: show[comp.id]}"
      (click)="show[comp.id] = !show[comp.id]">{{comp.btnText}}</button>
  </div>
</div>
<div class="components-container">
  <app-observable-leaking *ngIf="show.obsLeaking"></app-observable-leaking>
  <app-out-of-dom *ngIf="show.OODLeaking"></app-out-of-dom>
  <app-timer-leak *ngIf="show.timerLeaking"></app-timer-leak>
  <app-event-listener-leak *ngIf="show.eventLeaking"></app-event-listener-leak>
  <app-closure-leak *ngIf="show.closureLeaking"></app-closure-leak>
</div>
